body {
    font-family: sans-serif;
}

.rule {
    background: #eee;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

.rule .delete {
    float: right;
    font-weight: bold;
    text-align: center;
}

#controls {
    float: right;
    width: calc(100% - 840px);
    margin: 10px;
    padding:10px;
}

.label {
    font-weight: bold;
    margin-right:10px;
}

#controls .newRule {
    padding: 10px;
    background: #ccc;
}

#scores tr th,td {
    border:1px solid black;
    padding-right:10px;
    padding-left:10px;
}

button#play {
    width:100px;
    height: 30px;
    font-size: 20px;

    margin: 20px;
    float: right;
}

button.play,
button.stop,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.play {
    background: rgb(28, 184, 65); 
}

button.stop {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

input.number {
    width: 30px;
}

.small {
    font-size:12px;
}

#board {
    float: left;
    height: 900px;
    width: 800px;

}

#board div.row{
    display: flex;
    font-family: sans-serif;

}

#board .row .cell {
    flex: 1 0;
    border: 1px solid black;
}

.cell {
    height: 35px;
    width: 30px;
    text-align: center;
    font-size: 30px;
}

.wall {
      /* On "top" */
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    #ccc 5px,
    #ccc 10px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
}

.pacman-UP {
    background-image: url('images/pacman-UP.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pacman-LEFT {
    background-image: url('images/pacman-LEFT.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pacman-RIGHT {
    background-image: url('images/pacman-RIGHT.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pacman-DOWN {
    background-image: url('images/pacman-DOWN.png');
    background-repeat: no-repeat;
    background-size: cover;
}
