.cell.val0 {
    background-color: #ffffff;
}
.cell.val1 {
    background-color: #82beb5;
}

.cell.val2 {
    background-color: #7bdc92;
}

.cell.val3 {
    background-color: #9edc7b;
}

.cell.val4 {
    background-color: #cddc7b;
}

.cell.val5 {
    background-color: #dcc27b;
}

.cell.val6 {
    background-color: #dca07b;
}

.cell.val7 {
    background-color: #dc7b7b;
}

.cell.val8 {
    background-color: #cd7bdc;
}

.cell.val9 {
    background-color: #8e60fa;
}